<div class="card mb-2">
    <div class="card-header">
        <p class="card-text"><a class="text-decoration-none" href="/dashboard/edit/{{id}}">{{title}} - {{format_date createdAt}}</a></p>
    </div>
</div>