<div class="card">
    <div class="card mb-2">
        <div class="card-header">
            <p class="card-text">Create a Post</p>
        </div>
    </div>
    <form class="create-post-form">
        <div class="card-body">
            <label for="createPostTitle" class="form-label text-dark">Title</label>
            <textarea class="form-control" id="createPostTitle" rows="1"></textarea>
            <label for="createPostContent" class="form-label text-dark mt-1">Content</label>
            <textarea class="form-control" id="createPostContent"></textarea>
        </div>
        <div class="d-grid gap-2 p-3">
            <button class="btn btn-outline-primary" type="submit" id="createPostBtn">Create</button>
        </div>
    </form>
</div>

<script src="/js/create-post.js"></script>