<div class="d-md-flex justify-content-md-end">
    <a class="text-decoration-none text-white" href="/dashboard/create"><button class="btn btn-success btn-lg " type="submit">Create a post</button></a>
</div>

{{#if posts.length}}

<p class="h1 text-white">Your Posts</p>

{{#each posts as |post|}}

{{> dashboard-card post}}

{{/each}}

{{else}}

<p class="h4 text-center text-white">You don't have any posts.</p>

{{/if}}