<div class="card">
    <div class="card-header">
        Login below.
    </div>
    <form class="row g-3 p-3 login-form">
        <div class="col-md-6">
            <label for="loginUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="loginUsername" />
        </div>
        <div class="col-md-6">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <p class="card-text text-start text-secondary mt-1"><a class="text-decoration-none" href="/signup">Don't have an account yet? Click here to create one.</a></p>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>