<div class="card">
    <div class="card-header">
        Please enter your information in order to sign up.
    </div>
    <form class="row g-3 p-3 signup-form">
        <div class="col-md-6">
            <label for="signupUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="signupUsername" />
        </div>
        <div class="col-md-6">
            <label for="signupPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="signupPassword" />
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>